In this project, you will learn practically how to create and apply graphical techniques in exploratory data analysis (EDA).

We will go through 5 tasks to implement our project:

Task 1: Definining Exploratory Data Analysis with an overview of the whole project .

Task 2: Importing libraries and Exploring the Dataset.

Task 3: Checking missing values and Outliers.

Task 4: Creating visual methods to analyze the data.

Task 5: Analyzing trends, patterns, and relationships in the Data.

Task 2: Importing libraries and Exploring the Dataset

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.preprocessing import LabelEncoder
import copy
sns.set() #setting the default seaborn style for our plots

In [8]:
# Read the Dataset
uber_df = pd.read_csv("uber-data.csv")

In [9]:
#Display the first five dataset

uber_df.head(10)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47
5,3879,Airport,1.0,Trip Completed,13-07-2016 21:57:28,13-07-2016 22:28:59
6,4270,Airport,1.0,Trip Completed,14-07-2016 06:15:32,14-07-2016 07:13:15
7,5510,Airport,1.0,Trip Completed,15-07-2016 05:11:52,15-07-2016 06:07:52
8,6248,City,1.0,Trip Completed,15-07-2016 17:57:27,15-07-2016 18:50:51
9,267,City,2.0,Trip Completed,11/7/2016 6:46,11/7/2016 7:25

In [6]:
#Info about the data shape of data, type of individual columns

uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

Expected output:

The data should consist of 6745 instances with 6 attributes. 1 integer type, 1 float type and 4 object type (Strings in the column)

Task 3: Checking missing values and Outliers

In [10]:
# Check for the null values 

uber_df.isna().apply(pd.value_counts)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
False,6745.0,6745.0,4095,6745.0,6745.0,2831
True,NaN,NaN,2650,NaN,NaN,3914

Expected Output:

There should be  missing values

In [17]:
# Checking for the outliers
plt.figure(figsize= (20,15))
plt.subplot(3,1,1)
sns.boxplot(x= uber_df.Request id, color='lightblue')

plt.subplot(3,1,2)
sns.boxplot(x= uber_df.Driver id, color='lightblue')

plt.subplot(3,1,3)
sns.boxplot(x= uber_df.Drop timestamp, color='lightblue')

plt.show()

SyntaxError: invalid syntax (<ipython-input-17-8f301ed0a843>, line 4)

In [24]:
# a brief summary for the dataset

uber_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Request id,6745.0,3384.644922,1955.099667,1.0,1691.0,3387.0,5080.0,6766.0
Driver id,4095.0,149.501343,86.051994,1.0,75.0,149.0,224.0,300.0

Task 4: Creating visual methods to analyze the data.

In [18]:
# Plots to see the distribution of the continuous features individually

plt.figure(figsize= (20,15))
plt.subplot(3,3,1)
plt.hist(uber_df.Request id, color='lightblue', edgecolor = 'black', alpha = 0.7)
plt.xlabel('Request id')

plt.subplot(3,3,2)
plt.hist(uber_df.Driver id, color='lightblue', edgecolor = 'black', alpha = 0.7)
plt.xlabel('Driver id')

plt.subplot(3,3,3)
plt.hist(uber_df.Driver id, color='lightblue', edgecolor = 'black', alpha = 0.7)
plt.xlabel('Drop timestamp')

plt.show()

SyntaxError: invalid syntax (<ipython-input-18-730ac19de335>, line 5)

In [20]:
# showing the skewness of variables
Skewness = pd.DataFrame({'Skewness' : [stats.skew(uber_df.Request id),stats.skew(uber_df.Driver id),stats.skew(uber_df.Drop timestamp)]},
                        index=['Request id','Driver id','Drop timestamp'])  # Measure the skeweness of the required columns
Skewness

SyntaxError: invalid syntax (<ipython-input-20-c2b65361cc15>, line 2)

In [ ]:
# Label encoding the variables before doing a pairplot because pairplot ignores strings

insurance_df_encoded = copy.deepcopy(uber_df)
insurance_df_encoded.loc[:,['', '', '']] = insurance_df_encoded.loc[:,['', '', '']].apply(LabelEncoder().fit_transform) 
sns.pairplot(insurance_df_encoded)  #pairplot
plt.show()

In [22]:
uber_df_encoded.head()

NameError: name 'uber_df_encoded' is not defined

Task 5: Analyzing trends, patterns, and relationships in the Data.